/*Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}
a {
    text-decoration: none;
    color: white;
}
.center-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
th {
    border-bottom: 1px solid #ddd;
}

/* Nav Styling */
nav {
    background: #000000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    background: #000000;
    color: white;
    padding: 1.5rem;
}
.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.navbar-links li {
    list-style: none;
}
.navbar-links a {
    font-weight: bold;
}
/* Home Styling */
.main-img-container {
    width: 100%;
}
.main-img {
    width: 100%;
    height: calc(92vh - 1.5rem);
    object-fit: contain;
}

/* Login Register Styling */
.login-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    line-height: 2;
}
.login-form input,
.schedule-input {
    height: 3rem;
    outline: none;
    padding: 10px;
}
.login-form button {
    margin-top: 1rem;
    width: 20%;
    padding: 12px 16px;
    border: none;
    background-color: #ffb03a;
    color: white;
    cursor: pointer;
}

.register-link {
    color: #0074d9;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}
.alert-success {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    background-color: #68d388;
    line-height: 3rem;
    padding: 1rem;
}
.alert-danger {
    text-align: center;
    color: #ff1d58;
}
/* Movies Styling */
.seats-container {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}
.seats-container > div {
    cursor: pointer;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
}
.selected-seat {
    background-color: #ffb03a;
    color: white;
}
/* Insert Movie Styling */
.insert-movie-form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.show_time_wrapper {
    display: flex;
    flex-direction: column;
}
.show_time_wrapper input {
    margin: 0.5rem 0 0.5rem 0;
}
.insert-movie-form h2 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #ffb03a;
}
.insert-movie-form input {
    height: 3rem;
    outline: none;
    padding: 10px;
    margin-bottom: 0.6rem;
}
.insert-movie-form input:focus,
.schedule-input:focus {
    border: 2px solid #ffb03a;
}
.insert-movie-form button {
    margin-top: 1rem;
    width: 20%;
    padding: 12px 16px;
    cursor: pointer;
}
.insert-movie-form input[type="submit"] {
    margin-top: 1rem;
    width: 20%;
    padding: 12px 16px;
    border: none;
    background-color: #ffb03a;
    color: white;
    cursor: pointer;
}
.movies-form {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.movies-form div {
    width: 30.3%;
    margin-right: 3%;
    margin-bottom: 1%;
}
.movies-form div img {
    width: 100%;
    object-fit: cover;
    min-height: 200px;
}
.playing-now-header {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #ffb03a;
    margin-top: 1rem;
}
.reservations-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    border: 1px solid #ddd;
    margin: auto;
    margin-top: 2rem;
}
.reservations-table button {
    background-color: #68d388;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.single-movie-container {
    display: flex;
    justify-content: space-between;
}
.single-movie-container img {
    object-fit: contain;
}
.movie-header {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #ffb03a;
    margin-bottom: 2rem;
}
.showtime-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.time {
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    cursor: pointer;
}
.showtime-container input[type="submit"] {
    width: 20%;
    padding: 12px 16px;
    border: none;
    background-color: #ffb03a;
    color: white;
    cursor: pointer;
}
.movie-form-single {
    width: 50%;
}
.reserve-movie-error {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    background-color: #ff1d58;
    line-height: 3rem;
    padding: 1rem;
}

/* Schedule Styling */
.schedule-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
}
.schedule-form h3 {
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #ffb03a;
}
.schedule-form button {
    width: 50%;
    padding: 12px 16px;
    border: none;
    background-color: #ffb03a;
    color: white;
    cursor: pointer;
    margin: 1rem auto;
}

/* Media Queries */
@media (max-width: 900px) {
    .navbar {
        max-width: none;
        font-size: 0.6rem;
    }

    .insert-movie-form h2 {
        margin-bottom: 1rem;
    }
    .insert-movie-form button,
    .insert-movie-form input[type="submit"] {
        width: auto;
    }
    .movies-form {
        display: block;
        width: 100%;
    }
    .movies-form div {
        margin: auto;
    }
    .single-movie-container {
        display: block;
        width: fit-content;
        margin: auto;
    }
    .single-movie-container img {
        width: 100%;
    }

    .movie-form-single {
        width: 100%;
    }
    .movies-form div {
        width: 85%;
    }
    .login-form button {
        margin-top: 1rem;
        width: auto;
        padding: 12px 16px;
        border: none;
        background-color: #ffb03a;
        color: white;
        cursor: pointer;
    }
    .reservations-table {
        width: 95%;
    }
}
