* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}
a {
    text-decoration: none;
    color: white;
}
nav {
    background: #000000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    background: #000000;
    color: white;
    padding: 1.5rem;
}
.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.navbar-links li {
    list-style: none;
}
.navbar-links a {
    font-weight: bold;
}
.main-img-container {
    width: 100%;
}
.main-img {
    width: 100%;
    height: calc(92vh - 1.5rem);
    object-fit: contain;
}
.center-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    line-height: 2;
}
.login-form input {
    height: 3rem;
    outline: none;
    padding: 10px;
}
.login-form button {
    margin-top: 1rem;
    width: 20%;
    padding: 12px 16px;
    border: none;
    background-color: #ffb03a;
    color: white;
    cursor: pointer;
}
.register-link {
    color: #0074d9;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}
.alert-success {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    background-color: #68d388;
    line-height: 3rem;
    padding: 1rem;
}
.alert-danger {
    text-align: center;
    color: #ff1d58;
}
.seats-container {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
}
.seats-container > div {
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    width: 20px;
    border: 1px solid red;
}
.selected-seat {
    background-color: blue;
    color: white;
}
.insert-movie-form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.show_time_wrapper {
    display: flex;
    flex-direction: column;
}
.show_time_wrapper input {
    margin: 0.5rem 0 0.5rem 0;
}
.insert-movie-form h2 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #ffb03a;
}
.insert-movie-form input {
    height: 3rem;
    outline: none;
    padding: 10px;
    margin-bottom: 0.6rem;
}
.insert-movie-form input:focus {
    border: 2px solid #ffb03a;
}
.insert-movie-form button {
    margin-top: 1rem;
    width: 20%;
    padding: 12px 16px;
    cursor: pointer;
}
.insert-movie-form input[type="submit"] {
    margin-top: 1rem;
    width: 20%;
    padding: 12px 16px;
    border: none;
    background-color: #ffb03a;
    color: white;
    cursor: pointer;
}
.movies-form {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.movies-form div {
    width: 30.3%;
    margin-right: 3%;
}
.movies-form div img {
    width: 100%;
    object-fit: cover;
    min-height: 200px;
}
.playing-now-header {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #ffb03a;
    margin-top: 1rem;
}
